In [0]:
%%sql

use lab3emrglue;
SELECT * FROM airlines WHERE cabin = "First Class" LIMIT 30

In [1]:
%%sql
use lab3emrglue;

SELECT * FROM covidcasescolombia WHERE departamento = "Antioquia" AND edad < 40 limit 35

In [2]:
%%sql
use lab3emrglue;

SELECT * FROM onlineretail WHERE country = "United Kingdom" limit 20

In [3]:
%%sql
use lab3emrglue;

SELECT * FROM moviereviews limit 15

In [4]:
%%sql
use lab3emrglue;

SELECT * FROM sampledata ORDER BY ratings

In [5]:
%%sql